{% extends "main.html" %}
{% block menu %}
    <h1 style="color: black; text-align: center; font-size: 40px; margin-top: 1%"><b>ABOUT BLOG</b></h1>
    <div class="container-xxl" style="margin-top: 1%; margin-bottom: 1%">
        <div class="row align-items-start">
            <div class="col">
                <div class="bg-image card shadow-1-strong"
                     style="border-radius: 30px; border-width: 10px; border-color: black;background: #181a1e">
                    <div class="card-body" align="justify">
                        <h1 align="center" style="color: wheat; font-size: 60px"><b>{{ info.title }}</b></h1>
                        <hr style="color: #d1dfff; border-width: 6px;">
                        <h2 style="color: wheat"> {{ info.text }}</h2>
                        <h6 style="color: #181a1e">.</h6>
                        <h3 style="color: deepskyblue; text-align: center">
                            <b>EMAIL - </b>{{ info.contacts.email }}
                        </h3>
                        <h6 style="color: #181a1e">.</h6>
                        <center>
                            <a class="navbar-brand" href="{{ info.contacts.github }}" style="color: deepskyblue">
                                <button type="button" class="btn btn-primary"
                                        style="background: #282931; color: deepskyblue; border-color: black;
                                         border-radius: 10px; border-width: 4px; font-size: 40px">
                                    <b>GITHUB</b>
                                </button>
                            </a>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <center style="margin-top: 1%; margin-bottom: 2%">
        <a class="navbar-brand" href="/" style="color: black">
            <button type="button" class="btn btn-primary"
                    style="background: #28292d; color: deepskyblue; border-color: black;
                                         border-radius: 10px; border-width: 4px">
                <h5>Назад</h5>
            </button>
        </a>
    </center>
{% endblock menu %}