<div class="modal fade" id="changeModalUsername{{ user.id }}" tabindex="-1" aria-labelledby=loggModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="background: #323638; color: #e7a933; border-radius: 10px;">
            <form method="post" action="/adminpanel/changeusername/{{ user.id }}/">
                <center>
                    <div class="modal-header">
                        <h1 class="modal-title" id="changeModalUsernameLabel">CHANGE USERNAME</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                </center>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="1" class="form-label" style="color: wheat">
                            <h3>
                                <b>
                                    New username:
                                </b>
                            </h3>
                        </label>
                        <input type="text" name="input" maxlength="120" class="form-control" id="1"
                               style="background: #2a2e34; border-color: black;
                                            border-width: 6px; border-radius: 10px; font-size: 24px; color: wheat">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" style="background: #d1dfff; color: #323638" class="btn btn-primary">
                        <h5>
                            Изменить
                        </h5>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>