{% extends "main.html" %}
{% block menu %}
    {% if admin == 1 %}
        <center>
            <h1 style="color: black; text-align: center; font-size: 40px; margin-top: 2%;"><b>ПАНЕЛЬ АДМИНИСТРАТОРА</b>
            </h1>
            <div style="margin-top: 1%">
                <a href="/adminpanel/" class="btn" style="color: #eeff00; background: black;"><h3>Меню</h3></a>
            </div>
            {% for user in users %}
                <div class="container-sm" style="margin-top: 1%; margin-bottom: 1%">
                    <div class="row align-items-start">
                        <div class="col">
                            <div class="bg-image card shadow-1-strong"
                                 style="border-radius: 30px; border-width: 10px; border-color: black;background: #181a1e">
                                <div class="card-body" align="justify">
                                    <h1 style="color: wheat">Пользователь <b>#{{ user.id }}</b></h1>
                                    <hr style="color: #d1dfff; border-width: 6px;">
                                    <h2 style="color: wheat"> Имя пользователя: <b>{{ user.username }}</b></h2>
                                    <h5 style="color: wheat">Email: <b>{{ user.email }}</b></h5>
                                    <h5 align="center" style="color: #e7a933"> Администратор:
                                        <b>{{ 'YES' if user.admin == 1 else 'NO' }}</b></h5>
                                    {% include 'adminpanel_changeu.html' %}
                                    <center>
                                        <a class="navbar-brand" style="color: #e0b866" href="#changeModalUsername{{ user.id }}"
                                           data-bs-toggle="modal">
                                            <button type="button" class="btn btn-primary"
                                                    style="background: #28292d; color: deepskyblue; border-color: black;
                                         border-radius: 10px; border-width: 4px">
                                                <h5><b>Change title</b></h5>
                                            </button>
                                        </a>
                                        <a class="navbar-brand" href="/adminpanel/deleteuser/{{ user.id }}/" style="color: black">
                                            <button type="button" class="btn btn-primary"
                                                    style="background: #28292d; color: deepskyblue; border-color: black;
                                         border-radius: 10px; border-width: 4px">
                                                <h5><b>Delete user</b></h5>
                                            </button>
                                        </a>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </center>
    {% else %}
        <center>
            <h1 style="margin-top: 15%; color: black"><b>ВЫ НЕ АДМИНИСТРАТОР</b></h1>
            <a href="/" class="btn" style="color: #eeff00; background: black; margin-top: 10%"><h3>Главная
                страница</h3></a>
        </center>
    {% endif %}
{% endblock menu %}
