{% extends "main.html" %}
{% block menu %}
    <center>
        {% if admin == 1 %}
            <h1 style="color: black; text-align: center; font-size: 40px; margin-top: 5%;"><b>ПАНЕЛЬ АДМИНИСТРАТОРА</b></h1>
            <a href="posts/" class="btn"
               style="color: #eeff00; background: black; margin-top: 3%; margin-right: 2%"><h3>Записи</h3></a>
            <a href="users/" class="btn"
               style="color: #eeff00; background: black; margin-top: 3%;"><h3>Пользователи</h3></a>
            <div style="margin-top: 3%">
                <a href="/" class="btn" style="color: #eeff00; background: black;"><h3>Главная страница</h3></a>
            </div>
        {% else %}
            <h1 style="margin-top: 15%; color: black"><b>ВЫ НЕ АДМИНИСТРАТОР</b></h1>
            <a href="/" class="btn" style="color: #eeff00; background: black; margin-top: 10%"><h3>Главная
                страница</h3></a>
        {% endif %}
    </center>
{% endblock menu %}